{% extends "CommonBundle:Email:template.es.html.twig" %}

{% block subject %}
    Correo de prueba Message
{% endblock %}

{% block wrapper %}
    <p>La plataforma Seniors First ha enviado un correo de prueba a esta dirección de correo</p>
{% endblock %}