{% block _backend_navbar_top_links %}

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    {% set language = '#' %}
                    {% if app.request.locale == 'es' %}
                        {% set i18nPath = path('backend_homepage', {'_locale' : 'en'}) %}
                        {% set language = 'English' %}
                    {% elseif app.request.locale == 'en' %}
                        {% set i18nPath = path('backend_homepage', {'_locale' : 'es'}) %}
                        {% set language = 'Español' %}
                    {% else %}
                        {% set i18nPath = '#' %}
                    {% endif %}
                    <a href="{% block blkI18nPath %}{{ i18nPath }}{% endblock %}">
                        <i class="fa fa-language fa-fw"></i> {{ language }}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ path('backend_logout') }}">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Logout
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>

{% endblock %}