<div class="dropdown">
    <button class="form-control" type="button" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
        <span class="pull-left">{{header}}</span>
        <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu col-lg-12">
        <li>
            <input class="form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
        </li>
        <li ng-show="multiple">
            <button class="btn-link btn-small" type="button" ng-click="checkAll()"><i class="icon-ok"></i> Seleccionar todos  </button>
            <button class="btn-link btn-small" type="button" ng-click="uncheckAll()"><i class="icon-remove"></i> Quitar todos </button>
        </li>
        <li ng-repeat="i in items | filter:searchText">
            <a ng-click="select(i); focus()">
                <i ng-class="{'icon-ok': i.checked, 'icon-empty': !i.checked}"></i>&nbsp;{{i.label}}</a>
        </li>
    </ul>
</div>