{% extends "CommonBundle:Email:template.en.html.twig" %}

{% block subject %}
    Test Mail Message
{% endblock %}

{% block wrapper %}
    <p>The Seniors First platform has sent a test mail to this email address</p>
{% endblock %}